version: 2
jobs:
  # Deploy to production site
  # Note that we need a custom SSH config to let rsync know
  # how to reach the production site.
  build:
    docker:
      - image: circleci/ruby:2.6.0-node-browsers
    environment:
      - JEKYLL_ENV: "production"
    steps:
      - add_ssh_keys
      - checkout
      - run: gem install bundler
      - run: bundle install
      - run: mkdir -p ~/.ssh
      - run: ssh-keyscan -p $PORT $SERVER -H >> ~/.ssh/known_hosts
      - run: which rsync || sudo apt-get install rsync
      - run: bundle exec jekyll build
      - run: ls -lah 
      - run: bundle exec htmlproofer ./_site --assume-extension --check-html --allow-hash-href --empty-alt-ignore --only-4xx 
      - run: 
          name: Push on server
          command: |
            rsync --delete -avP -e "ssh -p $PORT" ./_site/ $USER@$SERVER:/var/www/html/

workflows:
  version: 2
  on-commit-build-and-deploy:
    jobs:
      - build:
          filters:
            branches:
              only:
                - master
  
