{% assign p = include.person[1] %}
{% if p.status != nil and p.status == include.active %}
<div class="col-4" style="text-align: center; padding: 2.5em;">
  <div class="avatar size-xxl">
  {% if p.pic != nil %}
    <img src="{{ p.pic }}"> 
  {% else %}
    <p aria-hidden="true">{{ p.iniziali }}</p>
    <span class="sr-only">{{ p.name }}</span>
  {% endif %}
  </div>
  <div class="credits-person-info">
    <div class="credits-person-name">
      <b>{{ p.name }}</b>
    </div>
    <div class="credits-person-role">
      <i>{{ p.role }}</i>
    </div>
    {% if p.desc %}
    <!--<div class="credits-{{ personclass }}-desc">{{ p.desc }}</div>-->
    {% endif %}

    {% if p.status == 'admin' %}
    <div class="credits-{{ personclass }}-socials">
      <ul class="list-inline ">
        {% for contact in p.contacts %}
        <li class="list-inline-item">
          <a href="{{ contact[1].link }}">
            <span class="icon it-{{ contact[0] }}"></span>
            <span class="sr-only">{{ contact[1].name }}</span>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  </div>
</div>
{% endif %}


