<div class="it-header-slim-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="it-header-slim-wrapper-content">
          <a class="d-none d-lg-block navbar-brand" href="https://www.polito.it">Politecnico di Torino</a>
          <div class="nav-mobile">
            <nav>
              <a class="it-opener d-lg-none" data-toggle="collapse" href="#menu1" role="button" aria-expanded="false" aria-controls="menu1">
                <span>Politecnico di Torino</span>
                <svg class="icon">
                  <use xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-expand"></use>
                </svg>
              </a>
              <div class="link-list-wrapper collapse" id="menu1">
                <ul class="link-list">
                  <li><a href="https://fare.polito.it">FARE</a></li>
                  <li><a href="https://github.com/open-education-polito">Github</a></li>
                  <li class="d-lg-none"><a href="#">Politecnico di Torino</a></li>
                </ul>
              </div>
            </nav>
          </div>
          <div class="header-slim-right-zone">
            <!-- Language Switch -->
            {% include header/header-lang-switch.html %}
            <!-- Account options -->
            {% comment %}
            <div class="it-access-top-wrapper">
              <button class="btn btn-primary btn-sm" href="#" type="button">Accedi</button>
            </div>
            {% endcomment %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
